:where([data-academy-anchor-scroll]) {
  --anchor-scroll-offset: 50px;
}

:where([data-academy-anchor-scroll]) [id] {
  scroll-margin-top: var(--anchor-scroll-offset);
}

@media (min-width: 48rem) {
  :where([data-academy-anchor-scroll]) {
    --anchor-scroll-offset: 100px;
  }
}
